@model IEnumerable<ProjetoBancaTCC_OO2.Models.Semestre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <a href="~/Home/Create">Novo Semestre</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td><a href="~/Semestre/Delete/@item.Id">Excluir</a></td>
                <td><a href="~/Semestre/Update/@item.Id">Alterar</a></td>
            </tr>
        }

    </table>
</div>