@model ProjetoDespesaG1_LPOO2.Models.TipoDespesa
@{
    ViewBag.Title = "Create";
}

<h3 style="text-align:center;">Cadastrar Despesa</h3>

<form action="/Tipo/Create" method="post">
    <div class="form-group">
        <label>Nome do tipo</label>
        <input class="form-control" type="text" name="nomeTipo" value="" />
        @Html.ValidationMessageFor(model => model.nomeTipo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-success" />
    </div>
</form>