@model IEnumerable<ProjetoBancaTCC_OO2.Models.Disciplina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td><a href="~/Disciplina/Delete/@item.Id">Excluir</a></td>
            <td><a href="~/Disciplina/Update/@item.Id">Alterar</a></td>
        </tr>
    }

</table>