
@{
    ViewBag.Title = "Update";
}

<h2>Alterar Disciplina</h2>

<div class="panel">
    <form action="/Disciplina/Update" method="post">
        <div class="form-group">
            <label>Id</label>
            <input class="form-control" type="text" id="id" name="Id" readonly="readonly" value="@Model.Id" />
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text" id="nome" name="Nome" value="@Model.Nome" />
        </div>

        <button type="submit" class="btn btn-default">Enviar</button>
    </form>
</div>