@model IEnumerable<ProjetoDespesaG1_LPOO2.Models.Despesa>
@{
    ViewBag.Title = "Pesquisa";
}

<h2 align="center">Resultado da pesquisa</h2>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Local</th>
            <th>Data</th>
            <th>Valor (R$)</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LocalDespesa</td>
            <td>@item.DataDespesa</td>
            <td>@item.ValorDespesa</td>
            <td align="center"><a class="btn btn-danger" href="~/Home/Delete/@item.IdDespesa">Excluir</a></td>
            <td align="center"><a class="btn btn-info" href="~/Home/Update/@item.IdDespesa">Alterar</a></td>
        </tr>
    }
</table>