@model IEnumerable<ProjetoBancaTCC_OO2.Models.Aluno>
@{
    ViewBag.Title = "Create";
}

<h2>Cadastrar Aluno</h2>

<div class="panel">
    <form action="/Aluno/Create" method="post">
        <div class="form-group">
            <label>Id</label>
            <input class="form-control" type="text" id="id" name="Id" value="" />
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text" id="nome" name="Nome" value="" />
        </div>

        <div class="form-group">
            <label>Cidade</label>
            <select class="form-control" name="Cidade">
                @foreach (var item in ViewBag.ListCidade)
                {
                    <option value="@item.Nome">@item.Nome</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-default">Enviar</button>
    </form>
</div>